<h1>Table of Contents<span class="tocSkip"></span></h1>
</li></ul></li></ul></li><li><span><a href="#Part-1" data-toc-modified-id="Part-1-2">Part 1</a></span><ul class="toc-item"><li><span><a href="#(a)-Go-to-http://www.omdbapi.com/-and-make-yourself-familiar-with-the-API-and-its-use." data-toc-modified-id="(a)-Go-to-http://www.omdbapi.com/-and-make-yourself-familiar-with-the-API-and-its-use.-2.1">(a) Go to <a href="http://www.omdbapi.com/" target="_blank">http://www.omdbapi.com/</a> and make yourself familiar with the API and its use.</a></span></li><li><span><a href="#Parameters" data-toc-modified-id="Parameters-2.2">Parameters</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#By-ID-or-Title" data-toc-modified-id="By-ID-or-Title-2.2.0.1">By ID or Title</a></span></li><li><span><a href="#By-Search" data-toc-modified-id="By-Search-2.2.0.2">By Search</a></span></li></ul></li></ul></li><li><span><a href="#(b)-Write-a-program-in-Python-or-Java-that-executes-the-above-API-call-and-prints-the-result-to-the-screen." data-toc-modified-id="(b)-Write-a-program-in-Python-or-Java-that-executes-the-above-API-call-and-prints-the-result-to-the-screen.-2.3">(b) Write a program in Python or Java that executes the above API call and prints the result to the screen.</a></span></li><li><span><a href="#(c)-Parse-the-JSON-string-in-(b)-to-an-internal-Python-or-Java-object-for-further-handling." data-toc-modified-id="(c)-Parse-the-JSON-string-in-(b)-to-an-internal-Python-or-Java-object-for-further-handling.-2.4">(c) Parse the JSON string in (b) to an internal Python or Java object for further handling.</a></span></li></ul></li><li><span><a href="#Part-2" data-toc-modified-id="Part-2-3">Part 2</a></span><ul class="toc-item"><li><span><a href="#(d)-Write-a-small-program-in-Python-or-Java-that" data-toc-modified-id="(d)-Write-a-small-program-in-Python-or-Java-that-3.1">(d) Write a small program in Python or Java that</a></span><ul class="toc-item"><li><span><a href="#(i)-connects-to-your-local-SQL-instance" data-toc-modified-id="(i)-connects-to-your-local-SQL-instance-3.1.1">(i) connects to your local SQL instance</a></span></li><li><span><a href="#(ii)-creates-a-database-named-&quot;ucdavis&quot;" data-toc-modified-id="(ii)-creates-a-database-named-&quot;ucdavis&quot;-3.1.2">(ii) creates a database named "ucdavis"</a></span></li><li><span><a href="#(iii)-creates-the-table-&quot;omdb_test&quot;-containing-the-columns-&quot;imdb_id&quot;,-&quot;title&quot;,-and-&quot;year&quot;." data-toc-modified-id="(iii)-creates-the-table-&quot;omdb_test&quot;-containing-the-columns-&quot;imdb_id&quot;,-&quot;title&quot;,-and-&quot;year&quot;.-3.1.3">(iii) creates the table "omdb_test" containing the columns "imdb_id", "title", and "year".

In [151]:
import pandas as pd
import requests, json, time, urllib
from IPython.display import HTML
import mysql.connector
from sqlalchemy import create_engine

# Part 1

## (a) Go to http://www.omdbapi.com/ and make yourself familiar with the API and its use.
Request an API Key from the page. Specifically, read "Usage", "Parameters", and "Examples", and write down the URL string that would search for all the movies containing the word "blade". Include it as a comment in your code script.

<div class="bs-docs-section" id="parameters">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h2>Parameters</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <h4>By ID or Title</h4>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Required</th>
                                    <th>Valid Options</th>
                                    <th>Default Value</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>i</td>
                                    <td><span class="label label-success">Optional*</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>A valid IMDb ID (e.g. tt1285016)</td>
                                </tr>
                                <tr>
                                    <td>t</td>
                                    <td><span class="label label-success">Optional*</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Movie title to search for.</td>
                                </tr>
                                <tr>
                                    <td>type</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>movie, series, episode</td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Type of result to return.</td>
                                </tr>
                                <tr>
                                    <td>y</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Year of release.</td>
                                </tr>
                                <tr>
                                    <td>plot</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>short, full</td>
                                    <td>short</td>
                                    <td>Return short or full plot.</td>
                                </tr>
                                <tr>
                                    <td>r</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>json, xml</td>
                                    <td>json</td>
                                    <td>The data type to return.</td>
                                </tr>
                                <tr>
                                    <td>callback</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>JSONP callback name.</td>
                                </tr>
                                <tr>
                                    <td>v</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>API version (reserved for future use).</td>
                                </tr>
                            </tbody>
                        </table>
                        <small>*Please note while both "i" and "t" are optional at least one argument is required.</small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <h4>By Search</h4>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Required</th>
                                    <th>Valid options</th>
                                    <th>Default Value</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>s</td>
                                    <td><span class="label label-success">Yes</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Movie title to search for.</td>
                                </tr>
                                <tr>
                                    <td>type</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>movie, series, episode</td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Type of result to return.</td>
                                </tr>
                                <tr>
                                    <td>y</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>Year of release.</td>
                                </tr>
                                <tr>
                                    <td>r</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>json, xml</td>
                                    <td>json</td>
                                    <td>The data type to return.</td>
                                </tr>
                                <tr>
                                    <td>page <span class="label label-info">New!</span></td>
                                    <td><span class="label label-default">No</span></td>
                                    <td>1-100</td>
                                    <td>1</td>
                                    <td>Page number to return.</td>
                                </tr>
                                <tr>
                                    <td>callback</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>&lt;empty&gt;</td>
                                    <td>JSONP callback name.</td>
                                </tr>
                                <tr>
                                    <td>v</td>
                                    <td><span class="label label-default">No</span></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>API version (reserved for future use).</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<div class="alert alert-block alert-info">
    The URL params that would be required to search for all movies containing Blade in the Title would be to pass <b>s: blade</b> to the API. Which would make the API url, <a><b>http://www.omdbapi.com/?apikey=8ce17bed&s=blade</b></a>
</div>

## (b) Write a program in Python or Java that executes the above API call and prints the result to the screen.
You can use the parameters "Plot: Short" and "Response: JSON". (0.1 bonus points: make your code pretty-print the returned JSON. You may use a package to do so.)

In [13]:
API_endpoint = 'http://www.omdbapi.com/?apikey=8ce17bed&'

In [16]:
search_term = 'blade'


## commenting out response type and plot params as their default values are the same as what we require
params = {
    's':search_term,
#     'plot': 'short',
#     'r':'json'
}

urlencoded_params = urllib.parse.urlencode(params)

r = requests.get(API_endpoint+urlencoded_params)
print(json.dumps(r.json(), indent=4, sort_keys=True))

{
    "Response": "True",
    "Search": [
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg",
            "Title": "Blade Runner",
            "Type": "movie",
            "Year": "1982",
            "imdbID": "tt0083658"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg",
            "Title": "Blade Runner 2049",
            "Type": "movie",
            "Year": "2017",
            "imdbID": "tt1856101"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg",
            "Title": "Blade",
            "Type": "movie",
            "Year": "1998",
            "imdbID": "tt0120611"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg",
            "Title": "Blade II",
            "Type": "movie",
            "Year": "2002",
            "imdbID": "tt0187738"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg",
            "Title": "Blade: Trinity",
            "Type": "movie",
            "Year": "2004",
            "imdbID": "tt0359013"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg",
            "Title": "Sling Blade",
            "Type": "movie",
            "Year": "1996",
            "imdbID": "tt0117666"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg",
            "Title": "Dragon Blade",
            "Type": "movie",
            "Year": "2015",
            "imdbID": "tt3672840"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg",
            "Title": "Blade of the Immortal",
            "Type": "movie",
            "Year": "2017",
            "imdbID": "tt5084170"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg",
            "Title": "Shinobi: Heart Under Blade",
            "Type": "movie",
            "Year": "2005",
            "imdbID": "tt0475723"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg",
            "Title": "Blade Runner: Black Out 2022",
            "Type": "movie",
            "Year": "2017",
            "imdbID": "tt7428594"
        }
    ],
    "totalResults": "228"
}

## (c) Parse the JSON string in (b) to an internal Python or Java object for further handling. 
Then write code that iterates through the search results and prints the imdbID results to the screen.

In [152]:
results = r.json()
type(results)

dict

> Prints the 10 results returned in the first API, we can iterate through `Page` parameter to get all the pages of results(228 as indicated by the `totalResults` key in the response)

In [24]:
for a in results['Search']:
    print(a['Title'], '\nimdb ID: ',a['imdbID'],'\n')

Blade Runner
imdb ID:  tt0083658

Blade Runner 2049
imdb ID:  tt1856101

Blade
imdb ID:  tt0120611

Blade II
imdb ID:  tt0187738

Blade: Trinity
imdb ID:  tt0359013

Sling Blade
imdb ID:  tt0117666

Dragon Blade
imdb ID:  tt3672840

Blade of the Immortal
imdb ID:  tt5084170

Shinobi: Heart Under Blade
imdb ID:  tt0475723

Blade Runner: Black Out 2022
imdb ID:  tt7428594

# Part 2

## (d) Write a small program in Python or Java that 
### (i) connects to your local SQL instance 
(MySQL, MariaDB, and SQLite are the only acceptable versions. Choose either at your convenience. Use user "root" and NO passwords)

In [58]:
conn = mysql.connector.connect(host='localhost',user='root',password='')
cursor = conn.cursor()

### (ii) creates a database named "ucdavis"

In [60]:
SQL_DB = 'ucdavis'
cursor.execute('CREATE DATABASE IF NOT EXISTS ucdavis')

### (iii) creates the table "omdb_test" containing the columns "imdb_id", "title", and "year". 
This small code will create an empty table.

In [68]:
SQL_TABLE = 'omdb_test'

TABLE_DEF = '''(id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, imdb_id VARCHAR(20), title VARCHAR(100), year INT)'''

cursor.execute("CREATE TABLE IF NOT EXISTS " + SQL_DB + "." + SQL_TABLE + " " + TABLE_DEF + ";")

In [72]:
# verifying the table creation

pd.read_sql(f'select * from {SQL_DB}.{SQL_TABLE}', conn)

Empty DataFrame
Columns: [id, imdb_id, title, year]
Index: []